* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
  user-select: none;
  background: #0e151a;
}

body::-webkit-scrollbar{
  width: 0.40rem
}
body::-webkit-scrollbar-track {
  background: transparent
}
body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgb(97 117 117);
}
